*{
    font-family: 'Nunito', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; 
    border:none;
    text-transform: capitalize;
    transition: all .2s linear;
    list-style: none;
}
:root{
    --green:#27ae60;
    --black:#192a56;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --normal: rgba(0,0,0,.1);
}
body{
    scroll-behavior: smooth;
    background-color: #fff;
}
header .nav {
    position: fixed;
    background-color: #fff;
    width: 100%;
    height: 70px;
    box-shadow:var(--box-shadow);
    padding: 0 5vw 0 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999999999999;
}
header h2 {
    color: var(--black);
}
header h2 i {
    color: var(--green);
} 
header .nav ul {
    display: none;
}
header .nav .icons {
    width: 190px;
    height: 62%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .nav .icons i,
header .nav .icons a {
    padding: 10px;
    border-radius: 50%;
    background-color: var(--normal);
    color: var(--black);
    cursor: pointer;
}
header .nav .icons i:hover,
header .nav .icons a:hover{
    transform: rotate(-50deg);
    background-color: var(--green);
    color: #fff;
}
header .stuff .menu {
    background-color: #fff;
    width: 100%;
    height: 0vh;
    position: fixed;
    top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--box-shadow);
    z-index: 999999999999;
}
header .stuff .menu ul {
    width: 90%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
header .stuff .menu ul li {
    padding-left: 10px;
    width: 100%;
    height: 14%;
    border-radius: 5px;
    background-color: var(--normal);
    display: flex;
    justify-content: left;
    align-items: center;
}
header .stuff .menu ul li:hover {
    background-color: var(--green);
}
header .stuff .menu ul li a {
    display: none;
    color: var(--black);
}
header .stuff form {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 0vh;
    background-color: rgba(0, 0, 0, 0.711);
    color: #fff;
    z-index: 999999999999;
}
header .stuff form input {
    width: 40%;
    height: 6%;
    background-color: transparent;
    border-bottom: 2px solid rgb(186, 186, 186);
}
header .stuff form i {
    font-size: 2rem;
    cursor: pointer;
}
header ::placeholder {
    padding-bottom: 5px;
    font-size: 1.4rem;
}
header #close {
    position: absolute;
    top: 0;
    left: 0;
    margin: 3vw 0 0 90%;
}
header #close:hover {
    transform: rotate(90deg);
}
header #search-icon {
    font-size: 1.3rem;
}
header section.main {
    width: 100%;
    height: auto;
    display: flex;
    overflow-x: scroll;
    overflow-y: scroll;
}
header section.main section.one {
    min-width: 100vw;
    min-height: auto;
    max-height: auto;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header section.main section.one .text {
    padding-left: 5vw;
    height: 30%;
    color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 15px;
}
header section.main section.one .text h3 {
    color: var(--green);
}
header section.main section.one .text h1{
    font-size: 2.2rem;
}
header section.main section.one .text button {
    padding: 11px 40px;
    background-color: var(--black);
    color: #fff;
    border-radius: 5px;
}
header section.main section.one .text button:hover {
    background-color: var(--green);
    color: var(--black);
    font-weight: 600;
}
header section.main section.one .pics {
    width: 100%;
    height: 70%;
}
header section.main section.one .pics img {
    width: 100%;
    height: 60%;
}
header section.main section.one .pics div.place {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header section.main section.one .pics div.place div.container {
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
header section.main section.one .pics div.place div.container div {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color:  rgba(102, 102, 102, 0.804);
}
header section.main section.first .pics div.place div.container div.one {
    background-color: var(--green);
}
header section.main section.second .pics div.place div.container div.two {
    background-color: var(--green);
}
header section.main section.third .pics div.place div.container div.three {
    background-color: var(--green);
}
main section.dishes {
    background-color: var(--normal);
}
main section .headers {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
main section .headers h2{
    font-size: 1.8rem;
}
main section .headers h3 {
    font-size: 1.3rem;
    color: var(--green);
}
main section.dishes .dish {
    width: 100%;
    height: auto;
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
main section.dishes .dish section {
    width: 90%;
    max-width: 333px;
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    position: relative;
    margin: 20px 0;
}
main section.dishes .dish section .hover {
    position:  absolute;
    background-color: transparent;
    width: 100%;
    height: 20%;
    display: flex;
    padding: 0 5%;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
}
main section.dishes .dish section .hover a {
    padding: 10px;
    border-radius: 50%;
    background-color: var(--normal);
    color: var(--black);
    transition: .75s;
}
main section.dishes .dish section .hover a:hover {
    background-color: var(--green);
    color: #fff;
    transform: rotate(180deg);
}
main section.dishes .dish section:hover .hover {
    opacity: 1;
}
main section.dishes .dish section .item-1 {
    padding-top: 2vw;
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
} 
main section.dishes .dish section .item-1 img {
    width: 90%;
    height: 100%;
}
main section.dishes .dish section .item-2 {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
main section.dishes .dish section .item-2 div {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
main section.dishes .dish section .item-2 div h1 {
    font-size: 2rem;
}
main section.dishes .dish section .item-2 div section {
    color: var(--green);
    height: auto;
    width: auto;
    background-color: transparent;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
main section.dishes .dish section .item-2 .section-2 {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    color: var(--green);
}
main section.dishes .dish section .item-2 .section-2 button {
    padding: 11px 40px;
    background-color: var(--black);
    color: #fff;
    border-radius: 5px;
}
main section.dishes .dish section .item-2 .section-2 button:hover {
    background-color: var(--green);
    color: var(--black);
    font-weight: 600;
}
main section.about{
    width: 100%;
    height: auto;
}
main section.about .headers {
    background-color: #fff;
}
main section.about .content .img {
    width: 100%;
    height: 300px;
} 
main section.about .content .img img {
    width: 100%;
    height: 100%;
}
main section.about .content .txt {
    padding: 0 20px;
}
main section.about .content .txt h1 {
    font-size: 1.8rem;
}
main section.about .content .txt p {
    font-size: .9rem;
}
main section.about .content .txt #txt-p {
    margin-top: 10px;
    margin-bottom: 20px;
}
main section.about .content .txt .grid {
    width: calc(100% - 20px);
    min-width: 223px;
    height: 140px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
}
main section.about .content .txt .grid .item {
    border: 3px solid var(--normal);
    background-color: var(--normal);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .9rem;
    color: rgba(29, 28, 28, 0.926);
    cursor: pointer;
}
main section.about .content .txt .grid .item-3 {
    grid-column: span 2;
}
main section.about .content .txt .grid .item i {
    color: var(--green);
    font-size: 1.2rem;
    margin-right: .5vw;
}
main section.about .content .txt button {
    padding: 11px 40px;
    background-color: var(--black);
    color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
}
main section.about .content .txt button:hover {
    background-color: var(--green);
    color: var(--black);
    font-weight: 600;
}
main section.menu {
    width: 100%;
    height: auto;
    background-color: var(--normal);
    padding-bottom: 10px;
}
main section.menu .captions {
    width: 85%;
    min-height: 400px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    padding: 20px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}
main section.menu .captions .hover {
    position: absolute;
    width: 85%;
    height: 30%;
    padding: 10px;
}
main section.menu .captions .hover a {
    padding: 5vw;
    border-radius: 50%;
    background-color: #fff;
    color: var(--black);
    float: right;
    transition: .75s;
    font-size: 1.2rem;
}
main section.menu .captions .item-1{
    width: 100%;
    height: 60%;
    margin-bottom: 10px;
}
main section.menu .captions .item-1 img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
main section.menu .captions .item-2 {
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
}
main section.menu .captions .item-2 .section-1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    min-height: 70%;
}
main section.menu .captions .item-2 .section-1 i {
    color: var(--green);
}
main section.menu .captions .item-2 .section-1 h1 {
    font-size: 1.5rem;
}
main section.menu .captions .item-2 .section-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 30%;
}
main section.menu .captions .item-2 .section-2 h3 {
    color: var(--green);
}
main section.menu .captions .item-2 .section-2 button {
    padding: 11px 30px;
    background-color: var(--black);
    color: #fff;
    border-radius: 5px;
}
main section.reviews {
    height: auto;
    margin-bottom: 100px;
    background-color: #fff;
}
main section.reviews .container {
    width: 98%;
    height: 430px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    margin: 0 auto;
}
main section.reviews .container div.re {
    height: 80%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
main section.reviews .container div.item-1, main section.reviews .container div.item-3 {
    width: 9%;
    background-color: transparent;
    font-size: 2rem;
    color: var(--green);
    animation: dim .8s linear infinite ;
}
@keyframes dim {
    0%{
        opacity: 0;
    }
    25%{
        opacity: .3;
    }
    75%{
        opacity: .7;
    }
    100%{
        opacity: .1;
    }
}
main section.reviews .container div.item-2 {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: transparent;
}
main section.reviews .container div.item-2 .text {
    border: 2px solid  var(--normal);
    border-radius: 10px;
    height: 100%;
    min-width: 100%;
    margin-left: 10px;
    padding: 2%;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: repeat(2, 50%);
}
main section.reviews .container div.item-2 .one {
    margin-left: 0;
}
main section.reviews .container div.item-2 .text div.only {
    grid-column: span 3;
}
main section.reviews .container div.item-2 .text div.pics {
    display: flex;
    justify-content: center;
    align-items: center;
}
main section.reviews .container div.item-2 .text div.pics div {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main section.reviews .container div.item-2 .text div.pics div.one img{
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
}
main section.reviews .container div.item-2 .text div.pics div.two {
    align-items: flex-start;
    flex-direction: column;
}
main section.reviews .container div.item-2 .text div.pics div.two section {
    color: var(--green);
}
main section.reviews .container div.item-2 .text div.pics div.two section i {
    font-size: .9rem;
}
main section.reviews .container div.item-2 .sign {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
main section.reviews .container div.item-2 .sign p {
    font-size: 20vw;
    color: #5751517c;
}
main section.reviews .container div.item-2 .text div.only p {
    font-size: .9rem;
}
main section.order {
    background-color: var(--normal);
    width: 100%;
}
main section.order form{
    width: 90%;
    padding: 2vw;
    height: auto;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}
main section.order form input {
    width: 100%;
    background-color: var(--normal);
    height: 30px;
    padding: 5px;
    border-radius: 5px;
}
main section.order form textarea {
    width: 100%;
    background-color: var(--normal);
    border-radius: 5px;
}
main section.order form button {
    padding: 11px 40px;
    background-color: var(--black);
    color: #fff;
    border-radius: 5px;
}
main section.order form button:hover {
    background-color: var(--green);
    color: var(--black);
    font-weight: 600;
}
footer {
    background-color: var(--normal);
    width: 100vw;
    height: 100vh;
}














@media screen and (min-width: 1000px) {
    header .nav ul {
        width: 35vw;
        display: flex;
        justify-content: space-between;
    }
    header .nav ul li {
        display: inline-block;
    }
    header .nav ul li a {
        color: var(--black);
        padding: 7px 14px;
        border-radius: 3px;
        transition: all .75s;
    }
    header .nav ul li a:hover {
        background-color: var(--green);
    }
    header .nav .icons #menu {
        display: none;
    }
}